<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Boleto 2 Custumer", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <li>
          <% if signed_in? %>
            <%= link_to "#{current_user.email}", sign_out_path, method: :delete %>
          <% else %>
            <%= link_to t(".sign_in"), sign_in_path %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>